.slogan {
  padding: 10px;
  border: 1px solid #ccc;
}
// .nav_box {
//   background: #fff;
//   border: 2px solid #000;
//   ul {
//     overflow: hidden;
//     margin: 0;
//     padding: 0;
//     li {
//       margin: 0;
//       float: left;
//       margin-right: 50px;
//       font-weight: bold;
//     }
//   }
// }
.title {
  .logo {
    float: left;
    font-family: kufangEn;
    // font-size: 24px;
    height: 38px;

    img {
      height: 100%;
    }
  }
  .nav {
    float: right;
    ul {
      padding: 0;
      margin: 0;
      overflow: hidden;
      li {
        float: left;
        transition: all 0.3s;
        color: #666;
        padding: 0;
        margin: 0;
        margin: 0 15px;
        line-height: 38px;
        color: #fff;

        p {
          line-height: 38px;
        }
        font {
          line-height: 24px;
          margin: 12px 0;
          font-size: 18px;
          font-weight: bold;
          display: inline-block;
          &:nth-of-type(1) {
            border-bottom: 3px solid #fff;
          }
        }
        a {
          color: #fff;
          display: block;
          line-height: 38px;
        }
        &:hover {
          transform: scale(1.05);
        }
        &.selected {
          position: relative;
          text-decoration: underline;
          transform: scale(1.1);
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
  .btns {
    float: right;
    .address_box {
      float: left;
    }
  }
  .wallet_list {
    border-radius: 20px;
    height: auto;
    background: rgba($color: #000000, $alpha: 0.8);
    text-align: center;
    padding: 20px 50px;
    padding-top: 0;
    .title {
      font-size: 24px;
      line-height: 80px;
    }
    ul {
      li {
        cursor: pointer;
        line-height: 46px;
        border: 1px solid #666;
        width: 320px;
        border-radius: 20px;
        margin-bottom: 20px;
        transition: all 0.2s;
        position: relative;
        color: #fff;
        img,
        svg {
          height: 30px;
          position: absolute;
          left: 20px;
          top: 6.5px;
        }
        &:hover {
          border-color: rgba($color: #ff00ff, $alpha: 0.6);
          background: rgba($color: #ff00ff, $alpha: 0.2);
        }
      }
    }
  }
}
