.index {
  overflow: auto;
}

.belief_box {
  overflow: hidden;
  text-align: center;
  .float_left {
    padding: 30px 90px 0 50px;
    text-align: center;
    img {
      width: 400px;
    }
  }

  .float_right {
    padding: 40px 90px 0 0;
    p {
      line-height: 180%;
    }
  }

  // div {
  // margin: 0;
  // padding: 0;
  // background: #fff;
  // // text-align: right;
  // p {
  //   border: 1px solid #333;
  //   border-bottom: none;
  //   display: inline-block;
  //   vertical-align: top;
  //   padding: 0;
  //   // margin: 0px auto;
  //   padding: 5px 30px;
  //   position: relative;
  //   overflow: hidden;
  //   border-radius: 2px 2px 0 0;
  //   margin-bottom: -15px;
  //   background: #fff;

  //   &::before {
  //     content: "";
  //     position: absolute;
  //     right: 0;
  //     top: 1px;
  //     width: 3px;
  //     height: 100%;
  //     background: #ccc;
  //     transform: skew(0, 45deg);
  //   }
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     left: 1px;
  //     top: 0;
  //     width: 100%;
  //     height: 3px;
  //     background: #ccc;
  //     transform: skew(45deg, 0);
  //   }
  // }
  // }
  div p i {
    vertical-align: top;
  }
  .h0 p {
    padding-top: 20px;
  }
  .h0 p,
  .h0 p i {
    // font-family: baidu !important;
    border: none;
    font-size: 32px;
    padding-bottom: 5px;
    margin-top: -10px;
    margin-bottom: 0;

    &::before,
    &::after {
      display: none;
    }
  }
  .h1 p,
  .h1 p i {
    // border-radius: 5px;
    font-size: 30px;
    margin-bottom: 5px;
    opacity: 1;
  }
  .h2 p,
  .h2 p i {
    font-size: 28px;
    opacity: 0.95;
  }
  .h3 p,
  .h3 p i {
    font-size: 26px;
    opacity: 0.9;
  }
  .h4 p,
  .h4 p i {
    font-size: 24px;
    opacity: 0.85;
  }
  .h5 p,
  .h5 p i {
    font-size: 22px;
    opacity: 0.8;
  }
  .h6 p,
  .h6 p i {
    font-size: 20px;
    opacity: 0.75;
  }
  .h7 p,
  .h7 p i {
    font-size: 18px;
    opacity: 0.7;
  }
  .h8 p,
  .h8 p i {
    font-size: 16px;
    opacity: 0.65;
  }
  .h9 p,
  .h9 p i {
    font-size: 14px;
    opacity: 0.6;
  }
  .belief {
    text-align: left;
    padding-top: 10px;
  }
}
.beginning {
  .float_left {
    width: 705px;
    img {
      width: 100%;
    }
  }
  .float_right {
    width: calc(100% - 725px);
    line-height: 24px;
    .prospect {
      padding-top: 30px;
      font-weight: bold;
      text-align: center;
    }
  }
}

.who_tokenomics_box {
  overflow: hidden;
  position: relative;

  .who_box {
    width: 505px;
    // padding: 0 !important;
    height: 765px;
    .who_img {
      height: calc(100% - 54px);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .tokenomics_content {
    width: calc(100% - 525px);
    .tokenomics_box {
      height: 477px;

      .echarts_content {
        overflow: hidden;
        .table_top {
          margin: 10px 0;
        }
        .echarts_box {
          position: relative;
          overflow: hidden;
          .float_left {
            width: calc(100% - 160px);
            ul {
              border: 1px solid #ccc;
              border-bottom: none;
              margin: 0;
              padding: 0;
              .table_header {
                font-weight: bold;
              }
              li {
                border-bottom: 1px solid #ccc;
                margin: 0;
                padding: 0;
                overflow: hidden;
                span {
                  display: inline-block;
                  width: calc(33.333333% - 1px);
                  font-size: 12px;
                  height: 100%;
                  vertical-align: top;
                  padding: 5px 10px;
                  &:nth-last-of-type(1) {
                    border: none;
                  }
                }
              }
            }
          }
          .float_right {
            height: 100%;
            width: 150px;
            margin-top: 30px;
            text-align: center;
            img {
              height: 150px;
              width: auto;
              margin: 0 auto;
            }
          }
        }
      }
    }
    .address_box {
      height: 268px;
      .contract_content {
        padding-top: 14px;
        padding-bottom: 14px;
        ul {
          margin: 0;
          padding: 5px 15px;
          list-style: disc;
          li {
            line-height: 20px;
          }
        }
      }
    }
  }
}

.step_content {
  .float_left {
    margin-right: 20px;
  }
}
.road_map {
  overflow: hidden;
  ul {
    width: 25%;
    margin: 0;
    float: left;
    li {
      margin: 0;
    }
  }
}
.salute_content {
  text-align: center;
}
.footer {
  text-align: center;
  line-height: 60px;
  .version {
    color: #666;
    text-decoration: underline;
  }
}
